/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END OF CSS RESET --> */


html{
   background-color: #020659;
}
body{
   width: 375px;
   margin: 0 auto;
   background-color: #ffffff;
}


ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    top: -20px;
    float: left;
}
label span{
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

html{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
   background-color: #020659;
   color: #ffffff;
   padding: 20px;
   background-image: linear-gradient(to right, #2104D9, #000000);
   margin-top: 50px;
}

nav{
   z-index: 1;
   position: fixed;
   top: 0;
   background-color: #030A8C;
   width: 375px;
   height: 50px;
   text-align: center;
}

nav a{
   display: block;
   text-align: left;
}

nav h2{
   visibility: hidden;
}
nav ul{
   display: grid;
   grid-template-columns: 1fr;
}

nav li{
   list-style: none;
}
main{
   display: grid;
   grid-template-columns: 1fr;
}

h1{
   font-size: 1.25em;
   color: #ffffff;
}

h2, h3{
   font-size: 1em;
   color: #ffffff;
}

p{
   font-size: 1em;
}

footer p{
font-size: 0.75em;
}


.scroll{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      overflow-x: auto;
      overflow-y: hidden;
      width: 375px;
   }
   .scroll section{
      margin: 10px;
      position: relative;
   }
   .scroll div{
      position: absolute;
      top: 251px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 5px;
      height: 50px;
      width: 350px;
   }
   div h3{
      color: #590242;
   }
   dl{
      display: flex;
      color: #590242;
   }
   dt{
      padding-right: 5px;
      color: #590242;
   }
   audio{
      position: absolute;
      bottom: 150px;
      left: 5px;
   }

   #trending-songs{
      margin-top: 50px;
      margin-bottom: 10px;
   }



   section h2{
      color:#590242;
   }
   

   #trending-songs ::-webkit-scrollbar {
      width: 15px;
   }
   #trending-songs ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 15px #590242;
   }
   #trending-songs ::-webkit-scrollbar-thumb {
      background: #590242;
      border-radius: 5px;
   }
   #trending-songs ::-webkit-scrollbar-thumb:hover {
      background: #020659;
   }
   audio ::-webkit-media-controls-mute-button {

   }
   
   audio ::-webkit-media-controls-play-button{
      
   } 
   
   audio ::-webkit-media-controls-enclosure {
   
   }

   #your-playlists{
      margin-top: 10px;
   }
   
   .more-trending{
      display: block;
      text-align: center;
      background-color: #590242;
      padding: 10px;
      color: white;
      width: 160px;
      height: 40px;
      margin-left: 30px;
   }

   .scroll2{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      overflow-x: auto;
      overflow-y: hidden;
      width: 375px;
      background-color: #2699FB;
   }

   .scroll2 section{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin: 10px;
      position: relative;
      background-color: #0D8DFB;
      color: #ffffff;
      text-align: center;
   }


   #your-playlists h3{
      color: #ffffff;
      margin: 10px;
   }
 
   #your-playlists img{
      margin: 10px;
   }

   #your-playlists ::-webkit-scrollbar {
      width: 15px;
   }
   #your-playlists ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 15px #020659;
   }
   #your-playlists ::-webkit-scrollbar-thumb {
      background: #020659;
      border-radius: 5px;
   }
   #your-playlists ::-webkit-scrollbar-thumb:hover {
      background: #020659;
   }
      
   .allplaylists{
      display: block;
      text-align: center;
      background-color: #590242;
      padding: 10px;
      color: white;
      width: 160px;
      height: 40px;
      margin-left: 30px;
   }

   #curated-playlists{
      margin-top: 10px;
   }

   .scroll3{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      overflow-x: auto;
      overflow-y: hidden;
      width: 375px;
      background-color: #030A8C;
   }

   .scroll3 section{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin: 10px;
      position: relative;
      background-color: #020659;
      color: #ffffff;
      text-align: center;
   }

   #curated-playlists h3{
      color: #ffffff;
      margin: 10px;
   }

   #curated-playlists img{
      margin: 10px;
   }

   #curated-playlists ::-webkit-scrollbar {
      width: 15px;
   }
   #curated-playlists ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 15px #020659;
   }
   #curated-playlists ::-webkit-scrollbar-thumb {
      background: #020659;
      border-radius: 5px;
   }
   #curated-playlists ::-webkit-scrollbar-thumb:hover {
      background: #020659;
   }

   .more-curated{
      display: block;
      text-align: center;
      background-color: #590242;
      padding: 10px;
      color: white;
      width: 160px;
      height: 40px;
      margin-top: 10px;
      margin-left: 30px;
   }
   
   @media screen and (min-width:834px) {
      ul {
            overflow: visible;
            position: absolute;
            top: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      label span, input {
            display: none;
      }
   }

